<div class="container-flex">
<!-- Header section -->
<div class="jumbotron rounded-3 m-4">
  <div class="text-center">
    <h1 class="p-5 text-white">Review Task and Contact</h1>   
  </div>
</div>
<!-- End Header Section -->
<!-- <div class="row">
  <form class=" m-3 p-4 ml-auto float-right">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="search task" class="float-right rounded">
  </form>
</div> -->
<!-- Start of Listings  -->
<section>
  <div class="row m-2" cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="col-md-12 mb-3" *ngFor="let task of tasks | paginate: { itemsPerPage: 3, currentPage: p}">
        <div class="card bg-light" cdkDrag>
          <div class="card-header">あなたの日本語を必要としている人がいま  : {{task.createdAt | date: 'MMM d, y'}}</div>
            <div class="card-body">
              <div class="card-text p-2">
                <h2>Task Title</h2>
                <p>{{task.title}}</p>
                <h2>Task Location</h2>
                <p>{{task.location}}</p>
                <h2>Description</h2>
                <p>{{task.description}}</p>
                <div class="d-inline p-2">
                  <span class="font-weight-bold">cost ${{task.cost}}</span>
                  <!-- <button class="float-right btn btn-outline-success">Interested</button> -->
                  <button mat-raised-button color="primary" class="float-right">Interested</button>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
</section>
<!-- <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
</div> -->
<app-footer></app-footer>
</div>
<!-- End of Listings -->


