<footer class="footer page-footer font-small pt-4 mt-4 bg-light">

    <div class="container text-center text-md-left">
        <div class="row">
            <!--First column-->
            <div class="col-md-4 mx-auto">
              <h5 class="text-uppercase mb-4 mt-3 font-weight-bold text-dark">Company</h5>
              <hr>
              <ul class="list-unstyled">
                <li>
                  <a class="text-muted nav-item" [routerLink]="['/']">About</a>
                </li>
                <li>
                  <a class="text-muted nav-item" [routerLink]="['#']">Blog</a>
                </li>
                <li>
                  <a class="text-muted nav-item" [routerLink]="['faq']">FAQ</a>
                </li>
              </ul>
            </div>
            <!--/.First column-->
      
            <!--Second column-->
            <div class="col-md-4 mx-auto">
              <h5 class="text-uppercase mb-4 mt-3 font-weight-bold text-dark">Become a Provider</h5>
              <hr>
              <ul class="list-unstyled">
                <li>
                  <a class="text-muted nav-item" [routerLink]="['howto']">How to</a>
                </li>
                <li>
                  <a class="text-muted nav-item" [routerLink]="['standards']">Standards</a>
                </li>
                <li>
                  <a class="text-muted nav-item" [routerLink]="['']">What's next</a>
                </li>
              </ul>
            </div>
            <!--/.Second column-->
      
            <!--Third column-->
            <div class="col-md-4 mx-auto">
              <h5 class="text-uppercase mb-4 mt-3 font-weight-bold text-dark">User</h5>
              <hr>
              <ul class="list-unstyled">
                <li>
                  <a class="text-muted nav-item" [routerLink]="['started']">Getting Started</a>
                </li>
                <li>
                  <a class="text-muted nav-item" [routerLink]="['providers']">Find Providers</a>
                </li>
              </ul>
            </div>
            <!--/.Third column-->
      
          </div>
      <!--Social buttons-->
      <div class="text-center">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a class="btn-floating btn-sm mx-1 text-dark" href="https://www.facebook.com/CarnavalSanFrancisco" target="_blank">
              <i class="fab fa-facebook-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm mx-1 text-dark" href="https://twitter.com/carnavalsf" target="_blank">
              <i class="fab fa-twitter-square fa-2x fa-fw"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm mx-1 text-dark" href="http://instagr.am/carnavalsf" target="_blank">
              <i class="fab fa-instagram fa-2x fa-fw"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm mx-1 text-dark" href="http://www.youtube.com/user/carnavalsf/playlists" target="_blank">
              <i class="fab fa-youtube fa-2x fa-fw"> </i>
            </a>
          </li>
        </ul>
      </div>
      <!--/.Social Buttons-->
    </div>
    <!--Copyright-->
    <div class="py-3 text-center">
      <small class="text-muted">Copyright 2018 GoLuckyCat &copy;  2018 </small>
    </div>
    <!--/.Copyright-->
  
  </footer>
  <!--/.Footer-->