<header>
    <nav class="navbar navbar-expand-sm bg-light fixed-top navbar-light mb-3">
        <img src="../../assets/images/logo.png">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBody" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navBody">
            <ul class="nav navbar-nav navbar-left p-4">
                <li class="nav-item text-center " data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" [routerLink]="['/']">Home</a>
                </li>
                <li class="nav-item text-center " data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" [routerLink]="['/listings']">Listings</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right text-center ml-auto" *ngIf="!_auth.loggedIn()">
                <li class="nav-item " data-toggle="collapse" data-target=".navbar-collapse.show">
                     <a class="nav-link" [routerLink]="['registration']">Register</a>
                </li>    
                <li class="nav-item " data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" [routerLink]="['login']">Login</a>
                </li> 
            </ul>
            <ul class="nav navbar-nav navbar-right text-center ml-auto" *ngIf="_auth.loggedIn()">
                <li class="nav-item " data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="_auth.admin()" >
                    <a class="nav-link" [routerLink]="['dashboard']">Welcome Admin</a>
               </li>
               <li class="nav-item " data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="!_auth.admin()">
                <!-- <a class="nav-link" (click)="userProfile()">User Profile</a> -->
                <a class="nav-link" [routerLink]="['/profile', _id]">User Profile</a>
             </li> 
                <li class="nav-item " data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link" (click)="logOut()">Log Out</a>
               </li> 
            </ul>

            <!-- <ul class="nav navbar-nav navbar-right ml-auto" *ngIf="!_auth.loggedIn()">
                <li class="nav-item text-center " data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" [routerLink]="['login']"><button class="btn btn-outline-primary">Post a job</button></a>
                </li>
                <li class="nav-item text-center" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" [routerLink]="['registration']"><button class="btn btn-outline-success">Register
                        </button></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right ml-auto">
                <li class="nav-item " data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="_auth.admin()">
                    <a class="nav-link" [routerLink]="['/dashboard']">Welcome Admin</a>
                </li>
            </ul> -->
        </div>
    </nav>
</header>