<div class="container1">
  <div class="row m-5 p-4">
    <div class="col-md-4 mb-4 text-center">
        <img src="../../assets/images/customer2.jpg" class="img-fluid rounded-circle mr-3 float-left">
    </div>
    <div class="col-md-8">
      <h2 class="mb-4">Name: {{provider.first_name}} {{provider.last_name}}</h2>
      <h2>About Me:</h2>
      <p>{{provider.bio}}</p>
      <p>{{provider.bio2}}</p>
      <a href="#" *ngIf ="_auth.provider()">Edit Profile</a>
    </div>
  </div>
  <hr>
  <table class="table table-hover text-center">
      <thead>
        <tr class="bg-light">
          <th scope="col" class="font-weight-bold">Task Completed</th>
          <th scope="col" class="font-weight-bold">Rating</th>
          <th scope="col" class="font-weight-bold">Reviews</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>December 26, 2018</td>
          <td>3 <i class="fas fa-star ml-3"></i></td>
          <td><p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit in, quidem, quia ab explicabo laborum natus ut iusto, porro provident labore vero corrupti odit eius sunt animi consequatur facere nam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque molestias incidunt, quo odit distinctio a aliquam neque voluptates inventore optio quibusdam pariatur ipsam natus. Obcaecati ratione animi dolor modi? Maxime!</p></td>
        </tr>
        <tr>
          <td>January 31, 2019</td>
          <td>4 <i class="fas fa-star ml-3"></i></td>
          <td><p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit in, quidem, quia ab explicabo laborum natus ut iusto, porro provident labore vero corrupti odit eius sunt animi consequatur facere nam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque molestias incidunt, quo odit distinctio a aliquam neque voluptates inventore optio quibusdam pariatur ipsam natus. Obcaecati ratione animi dolor modi? Maxime!</p></td>
        </tr>
        <tr>
            <td>Febuary 6, 2019</td>
            <td>5 <i class="fas fa-star ml-3"></i></td>
            <td><p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit in, quidem, quia ab explicabo laborum natus ut iusto, porro provident labore vero corrupti odit eius sunt animi consequatur facere nam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque molestias incidunt, quo odit distinctio a aliquam neque voluptates inventore optio quibusdam pariatur ipsam natus. Obcaecati ratione animi dolor modi? Maxime!</p></td>
          </tr>
      </tbody>
    </table>

</div>
