h2{
    font-size: 1.1em
}

.card{
    background-color:#A3C7F1;
}
button{
    margin: 5px;
    margin-bottom: 10px;
}
td{
    width: 25%
}

img{
    width: 70px;
}
th{
    font-weight: bolder
}

.fas{
    color: yellow
}