<div class="container m-5 p-5">
  <h2>What is GLC?</h2>
  <p>Go Lucky Cat provides a platform for to connect Customers (users looking for multilingual helpers) with Lucky Cats (multilingual helpers who get paid for their talents.) Because Lucky Cats are linguistically and multiculturally aligned with Customers, Customers get their household chores done comfortably and correctly.</p>

  <h2>What services does GLC offer?</h2>
  <p>We​ currently connect you to Lucky Cats who​ offer Shopping, Cleaning, Gardening​/Yardwork​, Home Repairs​,​ and ​Local ​Deliver​y​. In the future​,​ we will expand ​our services to include tutoring, personal assistance, pet​ sitting and more​.​</p>

  <h2>Where is GLC available?</h2>
  <p>GLC is currently in the pilot phase, and so we are available in communities across the Silicon Valley Peninsula. We will soon expand to San Francisco and the entire Bay Area.</p>
  <p>(Follow us on social media ​to ​stay updated on our future expansions – Facebook • Instagram • Twitter.)</p>

  <h2>How can I become a Lucky Cat?</h2>
  <p>R​egister​ ​at <a href="https://www.goluckycat.com/register/​">https://www.goluckycat.com/register/​</a> ​and​ then ​email ​us ​your resume ​to ​info@GoLuckyCat.com</p>
  
  <h2>How does it work?</h2>
  <p>As a​ Lucky Cat​, you​ ​choose what services ​you want to perform​ and create ​your​ own​ ​schedule​.​ You earn extra cash on your own terms!</p>

  <button class="btn btn-large btn-outline-primary" [routerLink]="['/registration']">Sign up to be a lucky cat today</button>

</div>
