
<section>
  <!-- header imager -->
  <div class="img-fluid">
    <img src="../../assets/images/grocery.jpg" id="headerImage">
  </div>
  <!-- end of header image -->

  <!-- how it works -->
  <div class="bg-light">
    <h1 class="p-2 text-center" style="color:#B8E986">How it works!</h1>
  <div class="row p-5">  
    <div class="col-md-3">
        <i class="fas fa-align-justify fa-3x"></i>
      <p class="font-weight-bold">Post a job</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non ad maiores nobis consectetur fuga, repudiandae
        necessitatibus, ea quo accusamus voluptates aut! Dignissimos iusto saepe tempore voluptas illum nam, aspernatur
        expedita?</p>
    </div>
    <div class="col-md-3">
        <i class="fas fa-user-check fa-3x"></i>
       <p class="font-weight-bold">Providers Come to you in your language</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non ad maiores nobis consectetur fuga, repudiandae
        necessitatibus, ea quo accusamus voluptates aut! Dignissimos iusto saepe tempore voluptas illum nam, aspernatur
        expedita?</p>
    </div>
    <div class="col-md-3">
        <i class="fas fa-comments fa-3x"></i>
      <p class="font-weight-bold">Collaborate for Task</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non ad maiores nobis consectetur fuga, repudiandae
        necessitatibus, ea quo accusamus voluptates aut! Dignissimos iusto saepe tempore voluptas illum nam, aspernatur
        expedita?</p>
    </div>
    <div class="col-md-3">
        <i class="fas fa-pencil-alt fa-3x"></i>
        <p class="font-weight-bold">Pay and Reviews</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non ad maiores nobis consectetur fuga, repudiandae
          necessitatibus, ea quo accusamus voluptates aut! Dignissimos iusto saepe tempore voluptas illum nam, aspernatur
          expedita?</p>
      </div>
  </div>
</div>
  <!-- end of how it works -->

  <!-- section how it works -->
  <div>
    <h1 class="text-center mt-2">What people are saying</h1>
    <div class="row p-5 text-center">
      <div class="col-md-4">
        <img src="../../assets/images/customer1.jpg" class="img-fluid rounded-circle">
        <p class="mt-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur odit deserunt dolorem,
          enim ea sunt repellendus eius similique tempore dolor perferendis, vero fugit, laboriosam odio explicabo sint
          beatae!
          Quasi, possimus?</p>
      </div>
      <div class="col-md-4">
        <img src="../../assets/images/customer3.jpg" class="img-fluid rounded-circle">
        <p class=mt-5>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur odit deserunt dolorem,
          enim ea sunt
          repellendus eius similique tempore dolor perferendis, vero fugit, laboriosam odio explicabo sint beatae!
          Quasi, possimus?</p>
      </div>
      <div class="col-md-4">
        <img src="../../assets/images/customer2.jpg" class="img-fluid rounded-circle">
        <p class=" mt-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur odit deserunt dolorem,
          enim ea sunt
          repellendus eius similique tempore dolor perferendis, vero fugit, laboriosam odio explicabo sint beatae!
          Quasi, possimus?</p>
      </div>
    </div>
  </div>
  <!-- end of section how it works -->
</section>
<app-footer></app-footer>