
<section>
  <!-- header imager -->
  <div class="img-fluid">
    <img src="../../assets/images/grocery.jpg" id="headerImage">
  </div>
  <!-- end of header image -->

  <!-- how it works -->
  <div class="bg-light">
    <h1 class="p-2 text-center" style="color:#B8E986">How it works!</h1>
  <div class="row p-5">  
    <div class="col-md-3">
        <i class="fas fa-align-justify fa-3x"></i>
      <p class="font-weight-bold">Post a job</p>
      <p>Need a errand to be completed?  Your contractor are here and ready to assist.  Registration takes a few moments and posting is simple and easy.</p>
    </div>
    <div class="col-md-3">
        <i class="fas fa-user-check fa-3x"></i>
       <p class="font-weight-bold">Providers Come to you in your language</p>
      <p>Choose from a list of vetted providers to assist you with your task.
        Our providers are qualified and will be able to assist you in your language. </p>
    </div>
    <div class="col-md-3">
        <i class="fas fa-comments fa-3x"></i>
      <p class="font-weight-bold">Collaborate for Task</p>
      <p>Use our secure platform to collaborate for a task. Our platform is designed to 
        make the communication process simple and easy to use.</p>
    </div>
    <div class="col-md-3">
        <i class="fas fa-pencil-alt fa-3x"></i>
        <p class="font-weight-bold">Pay and Reviews</p>
        <p>When a task is complete a user friendly transaction will make the process seamless for both
          parties. Providers are rated on their performance by a comprehensive review process that allows for continual improvement. </p>
      </div>
  </div>
</div>
  <!-- end of how it works -->

  <!-- section how it works -->
  <div>
    <h1 class="text-center mt-2">meet our providers</h1>
    <div class="row p-5 text-center">
      <div class="col-md-4">
        <img src="../../assets/images/customer1.jpg" class="img-fluid rounded-circle">
        <p class="mt-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur odit deserunt dolorem,
          enim ea sunt repellendus eius similique tempore dolor perferendis, vero fugit, laboriosam odio explicabo sint
          beatae!
          Quasi, possimus?</p>
      </div>
      <div class="col-md-4">
        <img src="../../assets/images/customer3.jpg" class="img-fluid rounded-circle">
        <p class=mt-5>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur odit deserunt dolorem,
          enim ea sunt
          repellendus eius similique tempore dolor perferendis, vero fugit, laboriosam odio explicabo sint beatae!
          Quasi, possimus?</p>
      </div>
      <div class="col-md-4">
        <img src="../../assets/images/customer2.jpg" class="img-fluid rounded-circle">
        <p class=" mt-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur odit deserunt dolorem,
          enim ea sunt
          repellendus eius similique tempore dolor perferendis, vero fugit, laboriosam odio explicabo sint beatae!
          Quasi, possimus?</p>
      </div>
    </div>
    <div class="text-center">
      <button class="btn">See All Providers</button>
    </div>
  </div>
  <!-- end of section how it works -->
</section>
<app-footer></app-footer>